{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "css", "bash", "markup"],
        "plugins": ["toolbar", "copy-to-clipboard"]
      }
    ],
    "@babel/plugin-syntax-object-rest-spread",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
